-
  var appName = 'kibana';

block vars

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    // kibi: changed title to Siren
    title Siren
    style.
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 300;
        src: local('Open Sans Light'), local('OpenSans-Light'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.woff2') format('woff2'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.woff') format('woff'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.ttf') format('truetype'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_300.svg#OpenSans') format('svg');
      }
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        src: local('Open Sans'), local('OpenSans'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.woff2') format('woff2'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.woff') format('woff'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.ttf') format('truetype'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_regular.svg#OpenSans') format('svg');
      }
      @font-face {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        src: local('Open Sans Bold'), local('OpenSans-Bold'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.woff2') format('woff2'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.woff') format('woff'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.ttf') format('truetype'),
             url('#{kibanaPayload.basePath}/ui/fonts/open_sans/open_sans_v13_latin_700.svg#OpenSans') format('svg');
      }

    //- Favicons (generated from http://realfavicongenerator.net/)
    link(
      rel='apple-touch-icon' sizes='180x180' href='#{kibanaPayload.basePath}/ui/favicons/apple-touch-icon.png'
    )
    link(
      rel='icon' type='image/png' href='#{kibanaPayload.basePath}/ui/favicons/favicon-32x32.png' sizes='32x32'
    )
    link(
      rel='icon' type='image/png' href='#{kibanaPayload.basePath}/ui/favicons/favicon-16x16.png' sizes='16x16'
    )
    link(
      rel='manifest' href='#{kibanaPayload.basePath}/ui/favicons/manifest.json'
    )
    link(
      rel='mask-icon' href='#{kibanaPayload.basePath}/ui/favicons/safari-pinned-tab.svg' color='#e8488b'
    )
    link(
      rel='shortcut icon' href='#{kibanaPayload.basePath}/ui/favicons/favicon.ico'
    )
    meta(
      name='msapplication-config' content='#{kibanaPayload.basePath}/ui/favicons/browserconfig.xml'
    )
    meta(
      name='theme-color' content='#ffffff'
    )

    style.
      .kibanaWelcomeView {
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
        -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
                flex: 1 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        background: #FFFFFF;
      }

      .kibanaWelcomeLogo {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        /* SVG optimized according to http://codepen.io/tigt/post/optimizing-svgs-in-data-uris */
        /* kibi: changed image, added margin */
        margin-top: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1011.275 1022.82'%3E%3Cpath fill='%23b2b2b2' d='M474.216 1022.06c-25.41-1.46-62.243-6.127-87-11.02-88.762-17.545-166.578-56.32-231.267-115.237l-12.27-11.173 66.15-.257 66.15-.257 7.61 4.382c52.79 30.398 114.16 48.495 182.11 53.7 19.71 1.51 68.75.646 86-1.514 56.66-7.097 111.28-25.02 159.5-52.337 12.4-7.027 40.85-26.153 52.65-35.395C823.03 806.6 869.2 745.158 897.49 675.13c32.51-80.482 39.867-172.846 20.107-252.5-3.573-14.402-9.96-33.71-16.54-50-6.69-16.563-23.504-50.394-27.927-56.193l-2.522-3.307-144.7.016c-85.793.01-149.583.416-156.7 1C485.468 321 418.468 365.1 398.313 426.63c-5.89 17.993-5.91 18.19-6.33 70.407l-.39 48.406 4.97 5.094c6.827 7 12.4 16.05 15.257 24.766 2.06 6.294 2.392 9.23 2.37 20.827-.028 12.168-.307 14.29-2.826 21.49-6.954 19.876-20.728 33.945-40.407 41.276-9.18 3.42-25.71 4.222-36.68 1.78-12.578-2.798-22.697-8.533-32.6-18.476-13.558-13.613-19.37-27.625-19.318-46.57.05-17.795 6.12-33.607 17.72-46.134l6.42-6.932.48-46.467c.5-48.636 1.03-55.478 5.81-75.932 3.51-15.004 10.11-33.084 17.57-48.145 40.82-82.414 127.5-137.43 231.35-146.84 7.44-.675 72.19-1.04 183.5-1.04l172 .005 6.69 10.317c5.8 8.945 23.66 40.316 28.85 50.67 6.75 13.487 13.68 28.197 15.06 32 .9 2.474 4.6 11.583 8.21 20.243 16.91 40.486 27.64 82.12 33.32 129.256 2.275 18.9 2.61 79.85.544 99.5-8.77 83.44-34.213 156.43-77.836 223.31-79.25 121.51-206.67 204.08-349 226.19-42.184 6.55-74.08 8.44-108.843 6.44z'/%3E%3Cpath fill='%23faaf3a' d='M95.755 812.53c-3.462-2.538-18.876-27.6-30.91-50.257-4.237-7.975-10.123-18.55-13.082-23.5-2.958-4.95-5.4-9.745-5.427-10.657-.026-.91-1.43-4.736-3.12-8.5-6.064-13.517-15.907-41.194-21.316-59.94-10.373-35.954-19.076-87.06-19.775-116.126l-.163-6.78-.607 5.5c-.923 8.37-1.764-25.192-1.14-45.5.365-11.882.707-15.343 1.135-11.5l.612 5.5.173-7c.375-15.105 4.505-47.804 8.777-69.5 16.793-85.273 54.344-163.47 111.436-232.05 13.317-15.997 44.902-47.58 60.915-60.91C256.98 59.94 339.99 21.887 431.788 7.382c15.458-2.442 39.755-5.045 49.22-5.273l6.78-.17-5.5-.61c-3.842-.43-.41-.77 11.387-1.12 20.256-.61 51.62.18 44.113 1.12l-5 .62 6.5.15c9.912.24 40.756 3.95 55.943 6.73 96.65 17.7 187.56 65.37 260.54 136.63l13.02 12.715-64.41.036-64.41.04-9.09-5.87c-46.1-29.78-98.86-50.49-151.77-59.58-26.34-4.53-33.65-5.05-70.32-5.027-39.05.025-51.44 1.182-85 7.933-67.7 13.613-131.6 44.102-186.84 89.15-15.28 12.462-43.42 40.35-55.87 55.384-53.24 64.27-85.17 138.203-95.45 221-2.55 20.533-2.56 75.236-.03 96 6.87 56.227 21.27 105.654 44.8 153.737 6.94 14.168 9.43 18.358 11.17 18.788 1.23.305 69.96.41 152.737.235l150.5-.32 10.5-2.62c26.94-6.72 47.56-18.37 66.99-37.83 20.52-20.56 35.455-45.86 46.02-77.98 8.425-25.6 11.984-49.22 11.984-79.515 0-19.82-.06-20.4-2.333-23.155-8.69-10.53-16.62-25.757-19.27-37.007-2.023-8.59-1.37-22.17 1.51-31.32 5.844-18.58 22.007-35.197 41.23-42.38 32.22-12.05 67.89 1.65 82.835 31.81 11.807 23.837 8.86 46.31-9.3 70.954l-6.402 8.685-.56 26.213c-.328 15.08-1.24 31.1-2.15 37.713-8.034 58.28-29.546 110.016-63.208 152-10.446 13.03-29.564 31.545-43.068 41.71-32.17 24.22-63.174 37.256-104.732 44.04-8.98 1.465-28.524 1.67-184.046 1.954-95.7.176-174.466-.024-175.035-.44z' /%3E%3C/svg%3E");
      }

    block head
  body(kbn-chrome, id='#{appName}-body')
    kbn-initial-state(data=JSON.stringify(kibanaPayload))
    block content
